<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymleaf.org">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css">
<link href="/css/blockSize.css" rel="stylesheet" text="text/css">
<link href="/css/blockSelection.css" rel="stylesheet" text="text/css">
<link href="/css/forCarDetails/blockForHref.css" rel="stylesheet" text="text/css">
<link href="/css/blockForMainIconSize.css" rel="stylesheet" text="text/css">
<link href="/css/blockFontForHome.css" rel="stylesheet" text="text/css">
<head>
    <meta charset="UTF-8">
    <title>Головна сторінка</title>
</head>
<body>
<header th:insert="commonBlocks/header :: header"></header>

<div class="album py-5 bg-light">

    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

            <div class="col" th:each="element : ${carModels}">
                <a class="forHref" th:href="'/carDetails/' + ${element.id}">
                    <div class="card shadow-sm blockSelection">
                        <img th:src="${'data:image/png;base64,' + @base64Encoder.encodeToString(element.picture)}">
                        <div class="card-body">
                            <div class="row">
                                <div class="col">
                                    <p class="blockFontForHome" th:text="${element.name}" align="center"></p>
                                </div>

                            </div>

                            <div class="row">

                                <div class="col-sm-4">
                                    <div class="btn-group">
                                        <!--                                        <div th:insert="icon/petrol"></div>-->

                                        <div>
                                            <img class="blockForIconSizeFuel" src="/icon/fuel.png">
                                        </div>
                                        &nbsp;
                                        <div>
                                            <p class="blockFontForHome" th:text="${element.fuel}"></p>
                                        </div>&nbsp;

                                    </div>

                                </div>
                                <div class="col-sm-4" align="center">
                                    <div class="btn-group">
                                        <div>
                                            <img class="blockForIconSizeSpeedometer" src="/icon/speedometer.png">
                                        </div>
                                        &nbsp;
                                        <div>
                                            <p class="blockFontForHome" th:text="${element.mileage}"></p>
                                        </div>&nbsp;

                                    </div>
                                </div>

                                <div class="col-sm-4">
                                    <div class="btn-group">
                                        <div>
                                            <img class="blockForIconSizeDollar" src="/icon/dollar.png">
                                        </div>

                                        <div>
                                            <p class="blockFontForHome" th:text="${element.price}"></p>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </a>
            </div>

        </div>
    </div>

</div>
<footer th:insert="commonBlocks/footer :: footer"></footer>
</body>
</html>